# ignore everything in the following folders
logs/**
references/**
results/**
conf/**
nature_machine_intelligence_2021/el_salvador/triage/conf/local/**
config/**
nature_machine_intelligence_2021/el_salvador/pickled_ras

# ignore log files
LOG*

# Jupyter Notebook
.ipynb_checkpoints

# IPython

# IntelliJ
.idea/
*.iml
out/
.idea_modules/
**/__pycache__/**

# VS Code
.vscode/

# desktop
desktop.ini

# bash
*.sh

# config files
#*.yaml

# VS Code
.vscode/
nature_machine_intelligence_2021/education_crowdfunding_replication/db_profile.yaml
nature_machine_intelligence_2021/housing_safety/config/db_profile.yaml
*.log.txt
*db_*profile*.yaml
