# ignore everything in the following folders
# data/**
logs/**
references/**
results/**
conf/**
code/el_salvador/triage/conf/local/**

# Jupyter Notebook
.ipynb_checkpoints

# IPython

# IntelliJ
.idea/
*.iml
out/
.idea_modules/
**/__pycache__/**

# VS Code
.vscode/

# desktop
desktop.ini

# bash
*.sh

# config files
*.yaml
