
-- ASSUMPTIONS:
--    1. No matchdatetime needed

-- El-Salvador entity_demos table creation
DROP TABLE IF EXISTS {{schema}}.entity_demos;

CREATE TABLE {{schema}}.entity_demos
AS
WITH ref_models_pre AS (
    SELECT DISTINCT ON (train_end_time)
    model_id, train_end_time
    FROM tmp_bias_models
    ORDER BY train_end_time, RANDOM()
)
,ref_models AS (
    SELECT rmp.model_id, rmp.train_end_time
    FROM ref_models_pre rmp
    JOIN model_metadata.models m USING(model_id)
    JOIN model_metadata.model_groups mg USING(model_group_id)
)
SELECT p.entity_id,
p.as_of_date as as_of_date,
ovg_bool::text as ovg,
gender::text as gender,
case
  when rural = 'rural'
  then 'rural'
  when rural LIKE 'urban_'
  then 'urban'
  else 'unknown'
end as rural
from test_results.predictions p

left join features_test.overage_from_obj ovg
on p.entity_id = ovg.entity_id
and ovg.event_date = p.as_of_date

left join features_test.gender_from_obj gen
on p.entity_id = gen.entity_id
and gen.event_date = p.as_of_date

left join features_test.rural_from_obj rur
on p.entity_id = rur.entity_id
and rur.event_date = p.as_of_date

join ref_models_pre using (model_id);

--ALTER TABLE {{schema}}.entity_demos ADD PRIMARY KEY (entity_id);
