{% macro create_tables(suffix) %}
DROP TABLE IF EXISTS {{ schema }}.{{ suffix }}_group_recalls;
CREATE TABLE {{ schema }}.{{ suffix }}_group_recalls AS 
(
  SELECT gn.method, CASE WHEN gn.method LIKE 'composite%%' THEN NULL ELSE rr.model_id END AS model_id,
         gn.past_train_end_time, rr.train_end_time, gn.list_size, rr.demo_value,
         MAX(rr.model_group_id) AS model_group_id_demo, -- max over identical values
         1.0000*COUNT(*)/gn.list_size AS frac_demo,
         MAX(rr.recall_demo_rolling) AS group_recall, 
         MIN(rr.score) AS group_score_min, 
         AVG(rr.score) as group_score_mean 
  FROM {{schema}}.tmp_bias_rolling_recall rr
  JOIN {{ schema }}.{{ suffix }}_group_nums gn
    ON gn.model_group_id = rr.model_group_id
    AND gn.future_train_end_time = rr.train_end_time
    AND gn.demo_value = rr.demo_value
    AND rr.num_demo_rolling <= gn.group_k
  GROUP BY 1,2,3,4,5,6
); 


DROP TABLE IF EXISTS {{ schema }}.{{ suffix }}_intermediate_group_recalls;
CREATE TABLE {{ schema }}.{{ suffix }}_intermediate_group_recalls AS 
(
WITH tmp_positive_perc AS (
    SELECT rr.train_end_time as train_end_time_1,  
         count(distinct entity_id) as e_num
      FROM {{schema}}.tmp_bias_rolling_recall rr
      GROUP BY 1),
tmp0 AS (
	select rr.train_end_time as train_end_time_1,  
         count(distinct entity_id) as p_e_num
      FROM {{schema}}.tmp_bias_rolling_recall rr where rr.label_value=1
      GROUP BY 1), 
tmp1 AS(
	select * from tmp_positive_perc natural join tmp0
), 
tmp2 AS(
    SELECT gn.method, CASE WHEN gn.method LIKE 'composite%%' THEN NULL ELSE rr.model_id END AS model_id,
         gn.past_train_end_time, rr.train_end_time, gn.list_size, rr.demo_value,
         MAX(rr.model_group_id) AS model_group_id_demo, -- max over identical values, 
         COUNT(*)/AVG(rr.p_e_num) AS group_positive_prevalence 
      FROM ({{ schema }}.tmp_bias_rolling_recall tbrr join tmp1 on tmp1.train_end_time_1 = tbrr.train_end_time) rr
      JOIN {{ schema }}.{{ suffix }}_group_nums gn
        ON gn.model_group_id = rr.model_group_id
        AND gn.future_train_end_time = rr.train_end_time
        AND gn.demo_value = rr.demo_value
      where rr.label_value = 1
      GROUP BY 1,2,3,4,5,6), 
tmp3 AS (
    SELECT gn.method, CASE WHEN gn.method LIKE 'composite%%' THEN NULL ELSE rr.model_id END AS model_id,
         gn.past_train_end_time, rr.train_end_time, gn.list_size, rr.demo_value,
         MAX(rr.model_group_id) AS model_group_id_demo, -- max over identical values, 
         COUNT(*)/AVG(rr.e_num) AS group_prevalence, 
         AVG(rr.label_value) AS group_positive_rate
      FROM ({{ schema }}.tmp_bias_rolling_recall tbrr join tmp1 on tmp1.train_end_time_1 = tbrr.train_end_time) rr
      JOIN {{ schema }}.{{ suffix }}_group_nums gn
        ON gn.model_group_id = rr.model_group_id
        AND gn.future_train_end_time = rr.train_end_time
        AND gn.demo_value = rr.demo_value
      GROUP BY 1,2,3,4,5,6), 
tmp4 AS (
   SELECT gn.method, CASE WHEN gn.method LIKE 'composite%%' THEN NULL ELSE rr.model_id END AS model_id,
         gn.past_train_end_time, rr.train_end_time, gn.list_size, rr.demo_value,
         MAX(rr.model_group_id) AS model_group_id_demo, -- max over identical values
         MAX(rr.precision_demo_rolling) as group_precision         
    FROM {{schema}}.tmp_bias_rolling_recall rr
    JOIN {{ schema }}.{{ suffix }}_group_nums gn
    ON gn.model_group_id = rr.model_group_id
    AND gn.future_train_end_time = rr.train_end_time
    AND gn.demo_value = rr.demo_value
    AND rr.num_demo_rolling = gn.group_k
  GROUP BY 1,2,3,4,5,6
)
SELECT * from {{ schema }}.{{ suffix }}_group_recalls NATURAL JOIN tmp2 NATURAL JOIN tmp3 NATURAL JOIN tmp4
);


DROP TABLE IF EXISTS {{ schema }}.{{ suffix }}_censored_group_recalls;
CREATE TABLE {{ schema }}.{{ suffix }}_censored_group_recalls AS 
(
  -- limit recall values to a small non-zero value to avoid divide by zero errors calculating ratios
  -- this seems somewhat more principled to me than coercing these cases to NULL since doing so could
  -- lead to their being excluded from downstream analyses.
  SELECT method, model_id, past_train_end_time, train_end_time, list_size, demo_value, model_group_id_demo, frac_demo, group_score_min, group_score_mean, group_precision, group_prevalence, group_positive_rate, group_positive_prevalence,  
         CASE WHEN group_recall = 0 THEN 0.00001 ELSE group_recall END AS group_recall
  FROM {{ schema }}.{{ suffix }}_intermediate_group_recalls
); 


DROP TABLE IF EXISTS {{ schema }}.{{ suffix }}_recall_ratio;
CREATE TABLE {{ schema }}.{{ suffix }}_recall_ratio AS 
(
  SELECT gr1.model_id, gr1.train_end_time, gr1.past_train_end_time, gr1.list_size,
         MAX(1.000000*gr1.group_recall/gr2.group_recall) AS max_recall_ratio
         -- will give the full set of permutations (A/B and B/A), letting user decide on display...
         {% for demo1, demo2 in demo_permutations %}
         , MAX(CASE WHEN gr1.demo_value='{{demo1}}' AND gr2.demo_value='{{demo2}}' THEN 1.000000*gr1.group_recall/gr2.group_recall ELSE NULL END) AS recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         -- frac_demo and raw recall aggregates taken over identical values
         {% for demo in demo_values %}
         , MAX(CASE WHEN gr1.demo_value='{{demo}}' THEN gr1.frac_demo ELSE NULL END) AS frac_{{demo}}
         , MAX(CASE WHEN gr1.demo_value='{{demo}}' THEN gr1.group_score_min ELSE NULL END) AS min_score_{{demo}}
         , MAX(CASE WHEN gr1.demo_value='{{demo}}' THEN gr1.group_score_mean ELSE NULL END) AS mean_score_{{demo}}
         , MAX(CASE WHEN gr1.demo_value='{{demo}}' THEN gr1.group_precision ELSE NULL END) AS precision_{{demo}}
         , MAX(CASE WHEN gr1.demo_value='{{demo}}' THEN gr1.group_prevalence ELSE NULL END) AS prevalence_{{demo}}
         , MAX(CASE WHEN gr1.demo_value='{{demo}}' THEN gr1.group_positive_prevalence ELSE NULL END) AS positive_prevalence_{{demo}}
         , MAX(CASE WHEN gr1.demo_value='{{demo}}' THEN gr1.group_positive_rate ELSE NULL END) AS positive_rate_{{demo}}
         , MAX(CASE WHEN gr1.demo_value='{{demo}}' THEN gr1.group_recall ELSE NULL END) AS recall_{{demo}}
         , MAX(CASE WHEN gr1.demo_value='{{demo}}' THEN gr1.model_group_id_demo ELSE NULL END) AS model_group_id_{{demo}}
         {% endfor %}
  FROM {{ schema }}.{{ suffix }}_censored_group_recalls gr1
  JOIN {{ schema }}.{{ suffix }}_censored_group_recalls gr2 
    ON COALESCE(gr1.model_id, -1) = COALESCE(gr2.model_id, -1)
    AND gr1.train_end_time = gr2.train_end_time
    AND gr1.past_train_end_time = gr2.past_train_end_time
    AND gr1.list_size = gr2.list_size
    AND gr1.demo_value <> gr2.demo_value
  GROUP BY 1,2,3,4
); 

DROP TABLE IF EXISTS {{ schema }}.{{ suffix }}_perf;
CREATE TABLE {{ schema }}.{{ suffix }}_perf AS (
  SELECT gn.method, CASE WHEN gn.method LIKE 'composite%%' THEN NULL ELSE rr.model_id END AS model_id, 
         gn.past_train_end_time, rr.train_end_time, gn.list_size,
         COUNT(*) AS num_selected,
         'precision@'::VARCHAR(256) AS metric,
         gn.list_size::VARCHAR||'_abs'::VARCHAR(256) AS parameter,
         AVG(label_value) AS value
  FROM {{schema}}.tmp_bias_rolling_recall rr
  JOIN {{ schema }}.{{ suffix }}_group_nums gn 
    ON rr.model_group_id = gn.model_group_id 
    AND rr.train_end_time = gn.future_train_end_time
    AND rr.demo_value = gn.demo_value 
    AND rr.num_demo_rolling <= gn.group_k
  GROUP BY 1,2,3,4,5,7,8
);

{% endmacro %}

{% macro results_sql(suffix) %}

SELECT perf.*, rat.max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , rat.recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , rat.frac_{{demo}}
       , rat.min_score_{{demo}}
       , rat.mean_score_{{demo}}
       , rat.precision_{{demo}}
       , rat.prevalence_{{demo}}
       , rat.positive_prevalence_{{demo}}
       , rat.positive_rate_{{demo}}
       , rat.recall_{{demo}}
       , rat.model_group_id_{{demo}}
         {% endfor %}
FROM {{ schema }}.{{ suffix }}_perf perf
JOIN {{ schema }}.{{ suffix }}_recall_ratio rat 
  ON COALESCE(perf.model_id, -1) = COALESCE(rat.model_id, -1)
  AND perf.train_end_time = rat.train_end_time
  AND perf.past_train_end_time = rat.past_train_end_time
  AND perf.list_size = rat.list_size
{% endmacro %}

{% macro drop_tables(suffix) %}
DROP TABLE IF EXISTS {{ schema }}.{{ suffix }}_group_recalls;
DROP TABLE IF EXISTS {{ schema }}.{{ suffix }}_censored_group_recalls;
DROP TABLE IF EXISTS {{ schema }}.{{ suffix }}_recall_ratio;
DROP TABLE IF EXISTS {{ schema }}.{{ suffix }}_perf;
{% endmacro %}


{% if subsample %}
DROP TABLE IF EXISTS tmp_bias_sample;
CREATE LOCAL TEMPORARY TABLE tmp_bias_sample
  ON COMMIT PRESERVE ROWS
AS
WITH rands AS (
  SELECT entity_id, as_of_date, {{demo_col}}, RANDOM() AS sample_rand
  FROM {{entity_demos}}
)
SELECT entity_id, as_of_date
FROM rands
WHERE FALSE
  {% for demo, weight in sample_weights.items() %}
  OR ({{demo_col}} = '{{demo}}' AND sample_rand <= {{weight}})
  {% endfor %}
;
ALTER TABLE tmp_bias_sample ADD PRIMARY KEY(entity_id, as_of_date);
{% endif %}


-- Rolling Recall: sorted subgroups with subgroup recall up to that individual
DROP TABLE IF EXISTS {{schema}}.tmp_bias_rolling_recall CASCADE;
CREATE TABLE {{schema}}.tmp_bias_rolling_recall
AS
WITH preds AS (
  SELECT mods.train_end_time, mods.model_group_id, p.model_id, p.entity_id, p.as_of_date, p.score, p.label_value,
         row_number() OVER (PARTITION BY p.model_id ORDER BY p.score DESC, RANDOM()) AS model_rank
  FROM test_results.predictions p
  JOIN {{schema}}.tmp_bias_models mods USING(model_id)
  {% if subsample or bootstrap %}
  -- only retain entities in the subsample/bootstrap, if using
  JOIN tmp_bias_sample USING(entity_id, as_of_date)
  {% endif %}
)
, demo AS (
  SELECT p.entity_id, p.train_end_time, p.model_group_id, p.model_id, p.score, p.label_value, p.model_rank,
         '{{demo_col}}'::VARCHAR(256) AS demo_col, {{demo_col}} AS demo_value
  FROM {{entity_demos}} d
  JOIN preds p USING(entity_id, as_of_date)
)
, demo_rn AS (
  SELECT *, ROW_NUMBER() OVER (PARTITION BY model_id, demo_value ORDER BY model_rank ASC, RANDOM()) AS rn_demo
  FROM demo
)
, rolling_recall AS (
  SELECT *,
         COUNT(*) OVER w_roll AS num_demo_rolling,
         SUM(label_value) OVER w_roll AS tp_demo_rolling,
         1.0000*(SUM(label_value) OVER w_roll)/(SUM(label_value) OVER w_all) AS recall_demo_rolling
  FROM demo_rn
  WINDOW w_roll AS (PARTITION BY model_id, demo_value ORDER BY rn_demo ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW),
         w_all AS (PARTITION BY model_id, demo_value)
)
SELECT *, 
        1.0000*tp_demo_rolling/num_demo_rolling AS precision_demo_rolling,
        -- TODO: model_rank as tie breaker respects ordering of the scores, but may favor groups with higher
        --       precision if there are many ties to break across multiple groups.
        ROW_NUMBER() OVER (PARTITION BY model_id ORDER BY recall_demo_rolling ASC, model_rank ASC) AS rn_recall,
        ROW_NUMBER() OVER (PARTITION BY train_end_time, demo_col, demo_value, rn_demo ORDER BY 1.0000*tp_demo_rolling/num_demo_rolling DESC, RANDOM()) AS rn_mg_perf
FROM rolling_recall
ORDER BY model_group_id, model_id, rn_demo
;
CREATE INDEX ON {{schema}}.tmp_bias_rolling_recall(train_end_time, model_group_id, demo_value, num_demo_rolling);
CREATE INDEX ON {{schema}}.tmp_bias_rolling_recall(train_end_time, model_group_id, rn_recall);
CREATE INDEX ON {{schema}}.tmp_bias_rolling_recall(train_end_time, demo_value, rn_mg_perf);



-- Model performance overall with no adjustments for disparities
DROP TABLE IF EXISTS {{ schema }}.tmp_bias_mod_overall_group_nums;
CREATE TABLE {{ schema }}.tmp_bias_mod_overall_group_nums AS (
    -- For base values (what we'd get just taking the top 500 w/o recall adjustments) we simply look
    -- at the group numbers implied for each `future_train_end_time` at the overall list size
    SELECT 'base'::VARCHAR(256) AS method, rr.model_group_id, et.past_train_end_time, et.future_train_end_time, 
           list_size, rr.demo_value, COUNT(*) AS group_k
    FROM {{schema}}.tmp_bias_rolling_recall rr
    JOIN {{schema}}.tmp_bias_end_times et ON rr.train_end_time = et.future_train_end_time
    CROSS JOIN {{schema}}.tmp_bias_list_sizes
    WHERE model_rank <= list_size
    GROUP BY 1,2,3,4,5,6
);

{{ create_tables('tmp_bias_mod_overall') }}

DROP TABLE IF EXISTS {{schema}}.tmp_bias_mod_overall;
CREATE TABLE {{schema}}.tmp_bias_mod_overall
AS
 ( {{ results_sql('tmp_bias_mod_overall') }} );

CREATE INDEX ON {{schema}}.tmp_bias_mod_overall(model_id, list_size, metric, parameter);


-- Models Performance After Adjustment
-- Subgroup list sizes are determined based on the past train_end_time then applied forward
-- to the corresponding future train_end_time for performance evaluation on novel data
DROP TABLE IF EXISTS {{ schema }}.tmp_bias_mod_adjusted_group_nums;
CREATE TABLE {{ schema }}.tmp_bias_mod_adjusted_group_nums AS (
    -- We don't know the outcomes for the predict forward model, so we select the same number of individuals
    -- that balanced recall by group in the model for the previous time split. Note that this makes the
    -- important assumption that relative precision across groups is reasonably stable over time, which should
    -- be validated in an ongoing manner.
    SELECT 'adjusted'::VARCHAR(256) AS method, rr.model_group_id, et.past_train_end_time, et.future_train_end_time, 
           list_size, rr.demo_value, COUNT(*) AS group_k
    FROM {{schema}}.tmp_bias_rolling_recall rr
    JOIN {{schema}}.tmp_bias_end_times et ON rr.train_end_time = et.past_train_end_time
    CROSS JOIN {{schema}}.tmp_bias_list_sizes
    WHERE rn_recall <= list_size
    GROUP BY 1,2,3,4,5,6
); 

INSERT INTO {{ schema }}.model_adjustment_group_k_plevel
SELECT gn.model_group_id , gn.past_train_end_time as train_end_time, gn.demo_value, gn.group_k 
FROM {{schema}}.tmp_bias_mod_adjusted_group_nums gn;

{{ create_tables('tmp_bias_mod_adjusted') }}

DROP TABLE IF EXISTS {{schema}}.tmp_bias_mod_adjusted;
CREATE TABLE {{schema}}.tmp_bias_mod_adjusted
AS
( {{ results_sql('tmp_bias_mod_adjusted') }} ); 

CREATE INDEX ON {{schema}}.tmp_bias_mod_adjusted(model_id, list_size, metric, parameter);

-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
-- Looping over different +- on the adjusted thresholds
-- |||||||||||||||||||||||||||||||||||||||||||
DROP TABLE IF EXISTS {{ schema }}.pre_pre_exhaustive_a;
CREATE TABLE {{ schema }}.pre_pre_exhaustive_a_group_nums AS 
(select method, model_group_id , past_train_end_time , future_train_end_time , list_size , demo_value , case when demo_value = 'highest' then group_k -50 else group_k +50 end as group_k
from {{ schema }}.tmp_bias_mod_adjusted_group_nums;) 

{{ create_tables('pre_pre_exhaustive_a') }}

DROP TABLE IF EXISTS {{schema}}.pre_pre_exhaustive_a;
CREATE TABLE {{schema}}.pre_pre_exhaustive_a
AS
( {{ results_sql('pre_pre_exhaustive_a') }} ); 

CREATE INDEX ON {{schema}}.pre_pre_exhaustive_a(model_id, list_size, metric, parameter);
-- |||||||||||||||||||||||||||||||||||||||||||
DROP TABLE IF EXISTS {{ schema }}.pre_pre_exhaustive_b;
CREATE TABLE {{ schema }}.pre_pre_exhaustive_b_group_nums AS 
(select method, model_group_id , past_train_end_time , future_train_end_time , list_size , demo_value , case when demo_value = 'highest' then group_k -40 else group_k +40 end as group_k
from {{ schema }}.tmp_bias_mod_adjusted_group_nums;) 

{{ create_tables('pre_pre_exhaustive_b') }}

DROP TABLE IF EXISTS {{schema}}.pre_pre_exhaustive_b;
CREATE TABLE {{schema}}.pre_pre_exhaustive_b
AS
( {{ results_sql('pre_pre_exhaustive_b') }} ); 

CREATE INDEX ON {{schema}}.pre_pre_exhaustive_b(model_id, list_size, metric, parameter);
-- |||||||||||||||||||||||||||||||||||||||||||
DROP TABLE IF EXISTS {{ schema }}.pre_pre_exhaustive_c;
CREATE TABLE {{ schema }}.pre_pre_exhaustive_c_group_nums AS 
(select method, model_group_id , past_train_end_time , future_train_end_time , list_size , demo_value , case when demo_value = 'highest' then group_k -30 else group_k +30 end as group_k
from {{ schema }}.tmp_bias_mod_adjusted_group_nums;) 

{{ create_tables('pre_pre_exhaustive_c') }}

DROP TABLE IF EXISTS {{schema}}.pre_pre_exhaustive_c;
CREATE TABLE {{schema}}.pre_pre_exhaustive_c
AS
( {{ results_sql('pre_pre_exhaustive_c') }} ); 

CREATE INDEX ON {{schema}}.pre_pre_exhaustive_c(model_id, list_size, metric, parameter);
-- |||||||||||||||||||||||||||||||||||||||||||
DROP TABLE IF EXISTS {{ schema }}.pre_pre_exhaustive_d;
CREATE TABLE {{ schema }}.pre_pre_exhaustive_d_group_nums AS 
(select method, model_group_id , past_train_end_time , future_train_end_time , list_size , demo_value , case when demo_value = 'highest' then group_k -20 else group_k +20 end as group_k
from {{ schema }}.tmp_bias_mod_adjusted_group_nums;) 

{{ create_tables('pre_pre_exhaustive_d') }}

DROP TABLE IF EXISTS {{schema}}.pre_pre_exhaustive_d;
CREATE TABLE {{schema}}.pre_pre_exhaustive_d
AS
( {{ results_sql('pre_pre_exhaustive_d') }} ); 

CREATE INDEX ON {{schema}}.pre_pre_exhaustive_d(model_id, list_size, metric, parameter);

-- |||||||||||||||||||||||||||||||||||||||||||
DROP TABLE IF EXISTS {{ schema }}.pre_pre_exhaustive_e;
CREATE TABLE {{ schema }}.pre_pre_exhaustive_e_group_nums AS 
(select method, model_group_id , past_train_end_time , future_train_end_time , list_size , demo_value , case when demo_value = 'highest' then group_k -10 else group_k +10 end as group_k
from {{ schema }}.tmp_bias_mod_adjusted_group_nums;) 

{{ create_tables('pre_pre_exhaustive_e') }}

DROP TABLE IF EXISTS {{schema}}.pre_pre_exhaustive_e;
CREATE TABLE {{schema}}.pre_pre_exhaustive_e
AS
( {{ results_sql('pre_pre_exhaustive_e') }} ); 

CREATE INDEX ON {{schema}}.pre_pre_exhaustive_e(model_id, list_size, metric, parameter);
-- |||||||||||||||||||||||||||||||||||||||||||
DROP TABLE IF EXISTS {{ schema }}.pre_pre_exhaustive_af;
CREATE TABLE {{ schema }}.pre_pre_exhaustive_a_group_nums AS 
(select method, model_group_id , past_train_end_time , future_train_end_time , list_size , demo_value , case when demo_value = 'highest' then group_k +10 else group_k -10 end as group_k
from {{ schema }}.tmp_bias_mod_adjusted_group_nums;) 

{{ create_tables('pre_pre_exhaustive_f') }}

DROP TABLE IF EXISTS {{schema}}.pre_pre_exhaustive_f;
CREATE TABLE {{schema}}.pre_pre_exhaustive_f
AS
( {{ results_sql('pre_pre_exhaustive_f') }} ); 

CREATE INDEX ON {{schema}}.pre_pre_exhaustive_f(model_id, list_size, metric, parameter);
-- |||||||||||||||||||||||||||||||||||||||||||
DROP TABLE IF EXISTS {{ schema }}.pre_pre_exhaustive_g;
CREATE TABLE {{ schema }}.pre_pre_exhaustive_a_group_nums AS 
(select method, model_group_id , past_train_end_time , future_train_end_time , list_size , demo_value , case when demo_value = 'highest' then group_k +20 else group_k -20 end as group_k
from {{ schema }}.tmp_bias_mod_adjusted_group_nums;) 

{{ create_tables('pre_pre_exhaustive_g') }}

DROP TABLE IF EXISTS {{schema}}.pre_pre_exhaustive_g;
CREATE TABLE {{schema}}.pre_pre_exhaustive_g
AS
( {{ results_sql('pre_pre_exhaustive_g') }} ); 

CREATE INDEX ON {{schema}}.pre_pre_exhaustive_g(model_id, list_size, metric, parameter);
-- |||||||||||||||||||||||||||||||||||||||||||
DROP TABLE IF EXISTS {{ schema }}.pre_exhaustive_h;
CREATE TABLE {{ schema }}.pre_exhaustive_a_group_nums AS 
(select method, model_group_id , past_train_end_time , future_train_end_time , list_size , demo_value , case when demo_value = 'highest' then group_k +30 else group_k -30 end as group_k
from {{ schema }}.tmp_bias_mod_adjusted_group_nums;) 

{{ create_tables('pre_exhaustive_h') }}

DROP TABLE IF EXISTS {{schema}}.pre_exhaustive_h;
CREATE TABLE {{schema}}.pre_exhaustive_h
AS
( {{ results_sql('pre_exhaustive_h') }} ); 

CREATE INDEX ON {{schema}}.pre_exhaustive_h(model_id, list_size, metric, parameter);
-- |||||||||||||||||||||||||||||||||||||||||||
DROP TABLE IF EXISTS {{ schema }}.pre_exhaustive_i;
CREATE TABLE {{ schema }}.pre_exhaustive_a_group_nums AS 
(select method, model_group_id , past_train_end_time , future_train_end_time , list_size , demo_value , case when demo_value = 'highest' then group_k +40 else group_k -40 end as group_k
from {{ schema }}.tmp_bias_mod_adjusted_group_nums;) 

{{ create_tables('pre_exhaustive_i') }}

DROP TABLE IF EXISTS {{schema}}.pre_exhaustive_i;
CREATE TABLE {{schema}}.pre_exhaustive_i
AS
( {{ results_sql('pre_exhaustive_i') }} ); 

CREATE INDEX ON {{schema}}.pre_exhaustive_i(model_id, list_size, metric, parameter);
-- |||||||||||||||||||||||||||||||||||||||||||
DROP TABLE IF EXISTS {{ schema }}.pre_exhaustive_j;
CREATE TABLE {{ schema }}.pre_exhaustive_a_group_nums AS 
(select method, model_group_id , past_train_end_time , future_train_end_time , list_size , demo_value , case when demo_value = 'highest' then group_k +50 else group_k -50 end as group_k
from {{ schema }}.tmp_bias_mod_adjusted_group_nums;) 

{{ create_tables('pre_exhaustive_j') }}

DROP TABLE IF EXISTS {{schema}}.pre_exhaustive_j;
CREATE TABLE {{schema}}.pre_exhaustive_j
AS
( {{ results_sql('pre_exhaustive_j') }} ); 

CREATE INDEX ON {{schema}}.pre_exhaustive_j(model_id, list_size, metric, parameter);
-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX



-- Models Performance After Multi Time Step Adjustment
DROP TABLE IF EXISTS {{ schema }}.tmp_bias_mod_multi_adjusted_group_nums;
CREATE TABLE {{ schema }}.tmp_bias_mod_multi_adjusted_group_nums AS (
    WITH tmp_group_k AS (
        SELECT model_group_id , train_end_time , demo_value , CASE WHEN demo_value  = 'highest' THEN CEILING(AVG(group_k)) 
        ELSE FLOOR(AVG(group_k)) END AS group_k 
        FROM {{schema}}.model_adjustment_group_k_plevel group by 1, 2, 3 order by 1, 2, 3
        )
    SELECT 'combined' as method, model_group_id, past_train_end_time, future_train_end_time, list_size, demo_value,
        CASE WHEN demo_value='highest' then CEILING(SUM(weight * group_k)) ELSE FLOOR(SUM(weight * group_k)) END AS group_k
        FROM (tmp_group_k NATURAL JOIN {{schema}}.tmp_bias_end_time_weights tbetw) 
        CROSS JOIN {{schema}}.tmp_bias_list_sizes tbls group by 1, 2, 3, 4, 5, 6 order by model_group_id, future_train_end_time
);

{{ create_tables('tmp_bias_mod_multi_adjusted') }}

DROP TABLE IF EXISTS {{schema}}.tmp_bias_mod_multi_adjusted;
CREATE TABLE {{schema}}.tmp_bias_mod_multi_adjusted
AS
( {{ results_sql('tmp_bias_mod_multi_adjusted') }} ); 

CREATE INDEX ON {{schema}}.tmp_bias_mod_multi_adjusted(model_id, list_size, metric, parameter);


-- Combine adjusted and unadjusted
DROP TABLE IF EXISTS {{schema}}.model_adjustment_results_{{demo_col}};
CREATE TABLE {{schema}}.model_adjustment_results_{{demo_col}}
AS
SELECT o.model_id, m.model_group_id, m.train_end_time,
       o.list_size, a.past_train_end_time, ma.past_train_end_time as multi_adj_past_train_end_time, o.metric, o.parameter,
       -- unadjusted (base) values
       o.value AS base_value, o.max_recall_ratio AS base_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , o.recall_{{demo1}}_to_{{demo2}} AS base_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , o.frac_{{demo}} AS base_frac_{{demo}}
       , o.min_score_{{demo}} AS base_min_score_{{demo}}
       , o.mean_score_{{demo}} AS base_mean_score_{{demo}}
       , o.precision_{{demo}} AS base_precision_{{demo}}
       , o.prevalence_{{demo}} AS base_prevalence_{{demo}} 
       , o.positive_prevalence_{{demo}} AS base_positive_prevalence_{{demo}} 
       , o.positive_rate_{{demo}} AS base_positive_rate_{{demo}}
       , o.recall_{{demo}} AS base_recall_{{demo}}
         {% endfor %}

       -- adjusted values
       , a.value AS adj_value, a.max_recall_ratio AS adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , a.recall_{{demo1}}_to_{{demo2}} AS adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , a.frac_{{demo}} AS adj_frac_{{demo}}
       , a.min_score_{{demo}} AS adj_min_score_{{demo}}
       , a.mean_score_{{demo}} AS adj_mean_score_{{demo}}
       , a.precision_{{demo}} AS adj_precision_{{demo}}
       , a.prevalence_{{demo}} AS adj_prevalence_{{demo}}
       , a.positive_prevalence_{{demo}} AS adj_positive_prevalence_{{demo}} 
       , a.positive_rate_{{demo}} AS adj_positive_rate_{{demo}}
       , a.recall_{{demo}} AS adj_recall_{{demo}}
         {% endfor %}
         
       -- multi adjusted values
       , ma.value AS multi_adj_value, ma.max_recall_ratio AS multi_adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , ma.recall_{{demo1}}_to_{{demo2}} AS multi_adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , ma.frac_{{demo}} AS multi_adj_frac_{{demo}}
       , ma.min_score_{{demo}} AS multi_adj_min_score_{{demo}}
       , ma.mean_score_{{demo}} AS multi_adj_mean_score_{{demo}}
       , ma.precision_{{demo}} AS multi_adj_precision_{{demo}}
       , ma.prevalence_{{demo}} AS multi_adj_prevalence_{{demo}}
       , ma.positive_prevalence_{{demo}} AS multi_adj_positive_prevalence_{{demo}} 
       , ma.positive_rate_{{demo}} AS multi_adj_positive_rate_{{demo}}
       , ma.recall_{{demo}} AS multi_adj_recall_{{demo}}
         {% endfor %}


       -- diffs
       , a.value - o.value AS value_diff,
       a.max_recall_ratio - o.max_recall_ratio AS recall_ratio_diff
FROM {{schema}}.tmp_bias_mod_overall o
JOIN {{schema}}.tmp_bias_mod_adjusted a USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_mod_multi_adjusted ma USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_models m USING(model_id);

DROP TABLE IF EXISTS {{schema}}.exhaustive_a;
CREATE TABLE {{schema}}.exhaustive_a
AS
SELECT o.model_id, m.model_group_id, m.train_end_time,
       o.list_size, a.past_train_end_time, ma.past_train_end_time as multi_adj_past_train_end_time, o.metric, o.parameter,
       -- unadjusted (base) values
       o.value AS base_value, o.max_recall_ratio AS base_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , o.recall_{{demo1}}_to_{{demo2}} AS base_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , o.frac_{{demo}} AS base_frac_{{demo}}
       , o.min_score_{{demo}} AS base_min_score_{{demo}}
       , o.mean_score_{{demo}} AS base_mean_score_{{demo}}
       , o.precision_{{demo}} AS base_precision_{{demo}}
       , o.prevalence_{{demo}} AS base_prevalence_{{demo}} 
       , o.positive_prevalence_{{demo}} AS base_positive_prevalence_{{demo}} 
       , o.positive_rate_{{demo}} AS base_positive_rate_{{demo}}
       , o.recall_{{demo}} AS base_recall_{{demo}}
         {% endfor %}

       -- adjusted values
       , a.value AS adj_value, a.max_recall_ratio AS adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , a.recall_{{demo1}}_to_{{demo2}} AS adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , a.frac_{{demo}} AS adj_frac_{{demo}}
       , a.min_score_{{demo}} AS adj_min_score_{{demo}}
       , a.mean_score_{{demo}} AS adj_mean_score_{{demo}}
       , a.precision_{{demo}} AS adj_precision_{{demo}}
       , a.prevalence_{{demo}} AS adj_prevalence_{{demo}}
       , a.positive_prevalence_{{demo}} AS adj_positive_prevalence_{{demo}} 
       , a.positive_rate_{{demo}} AS adj_positive_rate_{{demo}}
       , a.recall_{{demo}} AS adj_recall_{{demo}}
         {% endfor %}
         
       -- multi adjusted values
       , ma.value AS multi_adj_value, ma.max_recall_ratio AS multi_adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , ma.recall_{{demo1}}_to_{{demo2}} AS multi_adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , ma.frac_{{demo}} AS multi_adj_frac_{{demo}}
       , ma.min_score_{{demo}} AS multi_adj_min_score_{{demo}}
       , ma.mean_score_{{demo}} AS multi_adj_mean_score_{{demo}}
       , ma.precision_{{demo}} AS multi_adj_precision_{{demo}}
       , ma.prevalence_{{demo}} AS multi_adj_prevalence_{{demo}}
       , ma.positive_prevalence_{{demo}} AS multi_adj_positive_prevalence_{{demo}} 
       , ma.positive_rate_{{demo}} AS multi_adj_positive_rate_{{demo}}
       , ma.recall_{{demo}} AS multi_adj_recall_{{demo}}
         {% endfor %}


       -- diffs
       , a.value - o.value AS value_diff,
       a.max_recall_ratio - o.max_recall_ratio AS recall_ratio_diff
FROM {{schema}}.tmp_bias_mod_overall o
JOIN {{schema}}.pre_exhaustive_a a USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_mod_multi_adjusted ma USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_models m USING(model_id);

DROP TABLE IF EXISTS {{schema}}.exhaustive_b;
CREATE TABLE {{schema}}.exhaustive_b
AS
SELECT o.model_id, m.model_group_id, m.train_end_time,
       o.list_size, a.past_train_end_time, ma.past_train_end_time as multi_adj_past_train_end_time, o.metric, o.parameter,
       -- unadjusted (base) values
       o.value AS base_value, o.max_recall_ratio AS base_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , o.recall_{{demo1}}_to_{{demo2}} AS base_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , o.frac_{{demo}} AS base_frac_{{demo}}
       , o.min_score_{{demo}} AS base_min_score_{{demo}}
       , o.mean_score_{{demo}} AS base_mean_score_{{demo}}
       , o.precision_{{demo}} AS base_precision_{{demo}}
       , o.prevalence_{{demo}} AS base_prevalence_{{demo}} 
       , o.positive_prevalence_{{demo}} AS base_positive_prevalence_{{demo}} 
       , o.positive_rate_{{demo}} AS base_positive_rate_{{demo}}
       , o.recall_{{demo}} AS base_recall_{{demo}}
         {% endfor %}

       -- adjusted values
       , a.value AS adj_value, a.max_recall_ratio AS adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , a.recall_{{demo1}}_to_{{demo2}} AS adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , a.frac_{{demo}} AS adj_frac_{{demo}}
       , a.min_score_{{demo}} AS adj_min_score_{{demo}}
       , a.mean_score_{{demo}} AS adj_mean_score_{{demo}}
       , a.precision_{{demo}} AS adj_precision_{{demo}}
       , a.prevalence_{{demo}} AS adj_prevalence_{{demo}}
       , a.positive_prevalence_{{demo}} AS adj_positive_prevalence_{{demo}} 
       , a.positive_rate_{{demo}} AS adj_positive_rate_{{demo}}
       , a.recall_{{demo}} AS adj_recall_{{demo}}
         {% endfor %}
         
       -- multi adjusted values
       , ma.value AS multi_adj_value, ma.max_recall_ratio AS multi_adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , ma.recall_{{demo1}}_to_{{demo2}} AS multi_adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , ma.frac_{{demo}} AS multi_adj_frac_{{demo}}
       , ma.min_score_{{demo}} AS multi_adj_min_score_{{demo}}
       , ma.mean_score_{{demo}} AS multi_adj_mean_score_{{demo}}
       , ma.precision_{{demo}} AS multi_adj_precision_{{demo}}
       , ma.prevalence_{{demo}} AS multi_adj_prevalence_{{demo}}
       , ma.positive_prevalence_{{demo}} AS multi_adj_positive_prevalence_{{demo}} 
       , ma.positive_rate_{{demo}} AS multi_adj_positive_rate_{{demo}}
       , ma.recall_{{demo}} AS multi_adj_recall_{{demo}}
         {% endfor %}


       -- diffs
       , a.value - o.value AS value_diff,
       a.max_recall_ratio - o.max_recall_ratio AS recall_ratio_diff
FROM {{schema}}.tmp_bias_mod_overall o
JOIN {{schema}}.pre_exhaustive_b a USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_mod_multi_adjusted ma USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_models m USING(model_id);

DROP TABLE IF EXISTS {{schema}}.exhaustive_c;
CREATE TABLE {{schema}}.exhaustive_c
AS
SELECT o.model_id, m.model_group_id, m.train_end_time,
       o.list_size, a.past_train_end_time, ma.past_train_end_time as multi_adj_past_train_end_time, o.metric, o.parameter,
       -- unadjusted (base) values
       o.value AS base_value, o.max_recall_ratio AS base_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , o.recall_{{demo1}}_to_{{demo2}} AS base_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , o.frac_{{demo}} AS base_frac_{{demo}}
       , o.min_score_{{demo}} AS base_min_score_{{demo}}
       , o.mean_score_{{demo}} AS base_mean_score_{{demo}}
       , o.precision_{{demo}} AS base_precision_{{demo}}
       , o.prevalence_{{demo}} AS base_prevalence_{{demo}} 
       , o.positive_prevalence_{{demo}} AS base_positive_prevalence_{{demo}} 
       , o.positive_rate_{{demo}} AS base_positive_rate_{{demo}}
       , o.recall_{{demo}} AS base_recall_{{demo}}
         {% endfor %}

       -- adjusted values
       , a.value AS adj_value, a.max_recall_ratio AS adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , a.recall_{{demo1}}_to_{{demo2}} AS adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , a.frac_{{demo}} AS adj_frac_{{demo}}
       , a.min_score_{{demo}} AS adj_min_score_{{demo}}
       , a.mean_score_{{demo}} AS adj_mean_score_{{demo}}
       , a.precision_{{demo}} AS adj_precision_{{demo}}
       , a.prevalence_{{demo}} AS adj_prevalence_{{demo}}
       , a.positive_prevalence_{{demo}} AS adj_positive_prevalence_{{demo}} 
       , a.positive_rate_{{demo}} AS adj_positive_rate_{{demo}}
       , a.recall_{{demo}} AS adj_recall_{{demo}}
         {% endfor %}
         
       -- multi adjusted values
       , ma.value AS multi_adj_value, ma.max_recall_ratio AS multi_adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , ma.recall_{{demo1}}_to_{{demo2}} AS multi_adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , ma.frac_{{demo}} AS multi_adj_frac_{{demo}}
       , ma.min_score_{{demo}} AS multi_adj_min_score_{{demo}}
       , ma.mean_score_{{demo}} AS multi_adj_mean_score_{{demo}}
       , ma.precision_{{demo}} AS multi_adj_precision_{{demo}}
       , ma.prevalence_{{demo}} AS multi_adj_prevalence_{{demo}}
       , ma.positive_prevalence_{{demo}} AS multi_adj_positive_prevalence_{{demo}} 
       , ma.positive_rate_{{demo}} AS multi_adj_positive_rate_{{demo}}
       , ma.recall_{{demo}} AS multi_adj_recall_{{demo}}
         {% endfor %}


       -- diffs
       , a.value - o.value AS value_diff,
       a.max_recall_ratio - o.max_recall_ratio AS recall_ratio_diff
FROM {{schema}}.tmp_bias_mod_overall o
JOIN {{schema}}.pre_exhaustive_c a USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_mod_multi_adjusted ma USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_models m USING(model_id);

DROP TABLE IF EXISTS {{schema}}.exhaustive_d;
CREATE TABLE {{schema}}.exhaustive_d
AS
SELECT o.model_id, m.model_group_id, m.train_end_time,
       o.list_size, a.past_train_end_time, ma.past_train_end_time as multi_adj_past_train_end_time, o.metric, o.parameter,
       -- unadjusted (base) values
       o.value AS base_value, o.max_recall_ratio AS base_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , o.recall_{{demo1}}_to_{{demo2}} AS base_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , o.frac_{{demo}} AS base_frac_{{demo}}
       , o.min_score_{{demo}} AS base_min_score_{{demo}}
       , o.mean_score_{{demo}} AS base_mean_score_{{demo}}
       , o.precision_{{demo}} AS base_precision_{{demo}}
       , o.prevalence_{{demo}} AS base_prevalence_{{demo}} 
       , o.positive_prevalence_{{demo}} AS base_positive_prevalence_{{demo}} 
       , o.positive_rate_{{demo}} AS base_positive_rate_{{demo}}
       , o.recall_{{demo}} AS base_recall_{{demo}}
         {% endfor %}

       -- adjusted values
       , a.value AS adj_value, a.max_recall_ratio AS adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , a.recall_{{demo1}}_to_{{demo2}} AS adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , a.frac_{{demo}} AS adj_frac_{{demo}}
       , a.min_score_{{demo}} AS adj_min_score_{{demo}}
       , a.mean_score_{{demo}} AS adj_mean_score_{{demo}}
       , a.precision_{{demo}} AS adj_precision_{{demo}}
       , a.prevalence_{{demo}} AS adj_prevalence_{{demo}}
       , a.positive_prevalence_{{demo}} AS adj_positive_prevalence_{{demo}} 
       , a.positive_rate_{{demo}} AS adj_positive_rate_{{demo}}
       , a.recall_{{demo}} AS adj_recall_{{demo}}
         {% endfor %}
         
       -- multi adjusted values
       , ma.value AS multi_adj_value, ma.max_recall_ratio AS multi_adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , ma.recall_{{demo1}}_to_{{demo2}} AS multi_adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , ma.frac_{{demo}} AS multi_adj_frac_{{demo}}
       , ma.min_score_{{demo}} AS multi_adj_min_score_{{demo}}
       , ma.mean_score_{{demo}} AS multi_adj_mean_score_{{demo}}
       , ma.precision_{{demo}} AS multi_adj_precision_{{demo}}
       , ma.prevalence_{{demo}} AS multi_adj_prevalence_{{demo}}
       , ma.positive_prevalence_{{demo}} AS multi_adj_positive_prevalence_{{demo}} 
       , ma.positive_rate_{{demo}} AS multi_adj_positive_rate_{{demo}}
       , ma.recall_{{demo}} AS multi_adj_recall_{{demo}}
         {% endfor %}


       -- diffs
       , a.value - o.value AS value_diff,
       a.max_recall_ratio - o.max_recall_ratio AS recall_ratio_diff
FROM {{schema}}.tmp_bias_mod_overall o
JOIN {{schema}}.pre_exhaustive_d a USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_mod_multi_adjusted ma USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_models m USING(model_id);

DROP TABLE IF EXISTS {{schema}}.exhaustive_e;
CREATE TABLE {{schema}}.exhaustive_e
AS
SELECT o.model_id, m.model_group_id, m.train_end_time,
       o.list_size, a.past_train_end_time, ma.past_train_end_time as multi_adj_past_train_end_time, o.metric, o.parameter,
       -- unadjusted (base) values
       o.value AS base_value, o.max_recall_ratio AS base_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , o.recall_{{demo1}}_to_{{demo2}} AS base_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , o.frac_{{demo}} AS base_frac_{{demo}}
       , o.min_score_{{demo}} AS base_min_score_{{demo}}
       , o.mean_score_{{demo}} AS base_mean_score_{{demo}}
       , o.precision_{{demo}} AS base_precision_{{demo}}
       , o.prevalence_{{demo}} AS base_prevalence_{{demo}} 
       , o.positive_prevalence_{{demo}} AS base_positive_prevalence_{{demo}} 
       , o.positive_rate_{{demo}} AS base_positive_rate_{{demo}}
       , o.recall_{{demo}} AS base_recall_{{demo}}
         {% endfor %}

       -- adjusted values
       , a.value AS adj_value, a.max_recall_ratio AS adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , a.recall_{{demo1}}_to_{{demo2}} AS adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , a.frac_{{demo}} AS adj_frac_{{demo}}
       , a.min_score_{{demo}} AS adj_min_score_{{demo}}
       , a.mean_score_{{demo}} AS adj_mean_score_{{demo}}
       , a.precision_{{demo}} AS adj_precision_{{demo}}
       , a.prevalence_{{demo}} AS adj_prevalence_{{demo}}
       , a.positive_prevalence_{{demo}} AS adj_positive_prevalence_{{demo}} 
       , a.positive_rate_{{demo}} AS adj_positive_rate_{{demo}}
       , a.recall_{{demo}} AS adj_recall_{{demo}}
         {% endfor %}
         
       -- multi adjusted values
       , ma.value AS multi_adj_value, ma.max_recall_ratio AS multi_adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , ma.recall_{{demo1}}_to_{{demo2}} AS multi_adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , ma.frac_{{demo}} AS multi_adj_frac_{{demo}}
       , ma.min_score_{{demo}} AS multi_adj_min_score_{{demo}}
       , ma.mean_score_{{demo}} AS multi_adj_mean_score_{{demo}}
       , ma.precision_{{demo}} AS multi_adj_precision_{{demo}}
       , ma.prevalence_{{demo}} AS multi_adj_prevalence_{{demo}}
       , ma.positive_prevalence_{{demo}} AS multi_adj_positive_prevalence_{{demo}} 
       , ma.positive_rate_{{demo}} AS multi_adj_positive_rate_{{demo}}
       , ma.recall_{{demo}} AS multi_adj_recall_{{demo}}
         {% endfor %}


       -- diffs
       , a.value - o.value AS value_diff,
       a.max_recall_ratio - o.max_recall_ratio AS recall_ratio_diff
FROM {{schema}}.tmp_bias_mod_overall o
JOIN {{schema}}.pre_exhaustive_e a USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_mod_multi_adjusted ma USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_models m USING(model_id);

DROP TABLE IF EXISTS {{schema}}.exhaustive_f;
CREATE TABLE {{schema}}.exhaustive_f
AS
SELECT o.model_id, m.model_group_id, m.train_end_time,
       o.list_size, a.past_train_end_time, ma.past_train_end_time as multi_adj_past_train_end_time, o.metric, o.parameter,
       -- unadjusted (base) values
       o.value AS base_value, o.max_recall_ratio AS base_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , o.recall_{{demo1}}_to_{{demo2}} AS base_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , o.frac_{{demo}} AS base_frac_{{demo}}
       , o.min_score_{{demo}} AS base_min_score_{{demo}}
       , o.mean_score_{{demo}} AS base_mean_score_{{demo}}
       , o.precision_{{demo}} AS base_precision_{{demo}}
       , o.prevalence_{{demo}} AS base_prevalence_{{demo}} 
       , o.positive_prevalence_{{demo}} AS base_positive_prevalence_{{demo}} 
       , o.positive_rate_{{demo}} AS base_positive_rate_{{demo}}
       , o.recall_{{demo}} AS base_recall_{{demo}}
         {% endfor %}

       -- adjusted values
       , a.value AS adj_value, a.max_recall_ratio AS adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , a.recall_{{demo1}}_to_{{demo2}} AS adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , a.frac_{{demo}} AS adj_frac_{{demo}}
       , a.min_score_{{demo}} AS adj_min_score_{{demo}}
       , a.mean_score_{{demo}} AS adj_mean_score_{{demo}}
       , a.precision_{{demo}} AS adj_precision_{{demo}}
       , a.prevalence_{{demo}} AS adj_prevalence_{{demo}}
       , a.positive_prevalence_{{demo}} AS adj_positive_prevalence_{{demo}} 
       , a.positive_rate_{{demo}} AS adj_positive_rate_{{demo}}
       , a.recall_{{demo}} AS adj_recall_{{demo}}
         {% endfor %}
         
       -- multi adjusted values
       , ma.value AS multi_adj_value, ma.max_recall_ratio AS multi_adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , ma.recall_{{demo1}}_to_{{demo2}} AS multi_adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , ma.frac_{{demo}} AS multi_adj_frac_{{demo}}
       , ma.min_score_{{demo}} AS multi_adj_min_score_{{demo}}
       , ma.mean_score_{{demo}} AS multi_adj_mean_score_{{demo}}
       , ma.precision_{{demo}} AS multi_adj_precision_{{demo}}
       , ma.prevalence_{{demo}} AS multi_adj_prevalence_{{demo}}
       , ma.positive_prevalence_{{demo}} AS multi_adj_positive_prevalence_{{demo}} 
       , ma.positive_rate_{{demo}} AS multi_adj_positive_rate_{{demo}}
       , ma.recall_{{demo}} AS multi_adj_recall_{{demo}}
         {% endfor %}


       -- diffs
       , a.value - o.value AS value_diff,
       a.max_recall_ratio - o.max_recall_ratio AS recall_ratio_diff
FROM {{schema}}.tmp_bias_mod_overall o
JOIN {{schema}}.pre_exhaustive_f a USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_mod_multi_adjusted ma USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_models m USING(model_id);

DROP TABLE IF EXISTS {{schema}}.exhaustive_g;
CREATE TABLE {{schema}}.exhaustive_g
AS
SELECT o.model_id, m.model_group_id, m.train_end_time,
       o.list_size, a.past_train_end_time, ma.past_train_end_time as multi_adj_past_train_end_time, o.metric, o.parameter,
       -- unadjusted (base) values
       o.value AS base_value, o.max_recall_ratio AS base_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , o.recall_{{demo1}}_to_{{demo2}} AS base_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , o.frac_{{demo}} AS base_frac_{{demo}}
       , o.min_score_{{demo}} AS base_min_score_{{demo}}
       , o.mean_score_{{demo}} AS base_mean_score_{{demo}}
       , o.precision_{{demo}} AS base_precision_{{demo}}
       , o.prevalence_{{demo}} AS base_prevalence_{{demo}} 
       , o.positive_prevalence_{{demo}} AS base_positive_prevalence_{{demo}} 
       , o.positive_rate_{{demo}} AS base_positive_rate_{{demo}}
       , o.recall_{{demo}} AS base_recall_{{demo}}
         {% endfor %}

       -- adjusted values
       , a.value AS adj_value, a.max_recall_ratio AS adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , a.recall_{{demo1}}_to_{{demo2}} AS adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , a.frac_{{demo}} AS adj_frac_{{demo}}
       , a.min_score_{{demo}} AS adj_min_score_{{demo}}
       , a.mean_score_{{demo}} AS adj_mean_score_{{demo}}
       , a.precision_{{demo}} AS adj_precision_{{demo}}
       , a.prevalence_{{demo}} AS adj_prevalence_{{demo}}
       , a.positive_prevalence_{{demo}} AS adj_positive_prevalence_{{demo}} 
       , a.positive_rate_{{demo}} AS adj_positive_rate_{{demo}}
       , a.recall_{{demo}} AS adj_recall_{{demo}}
         {% endfor %}
         
       -- multi adjusted values
       , ma.value AS multi_adj_value, ma.max_recall_ratio AS multi_adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , ma.recall_{{demo1}}_to_{{demo2}} AS multi_adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , ma.frac_{{demo}} AS multi_adj_frac_{{demo}}
       , ma.min_score_{{demo}} AS multi_adj_min_score_{{demo}}
       , ma.mean_score_{{demo}} AS multi_adj_mean_score_{{demo}}
       , ma.precision_{{demo}} AS multi_adj_precision_{{demo}}
       , ma.prevalence_{{demo}} AS multi_adj_prevalence_{{demo}}
       , ma.positive_prevalence_{{demo}} AS multi_adj_positive_prevalence_{{demo}} 
       , ma.positive_rate_{{demo}} AS multi_adj_positive_rate_{{demo}}
       , ma.recall_{{demo}} AS multi_adj_recall_{{demo}}
         {% endfor %}


       -- diffs
       , a.value - o.value AS value_diff,
       a.max_recall_ratio - o.max_recall_ratio AS recall_ratio_diff
FROM {{schema}}.tmp_bias_mod_overall o
JOIN {{schema}}.pre_exhaustive_g a USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_mod_multi_adjusted ma USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_models m USING(model_id);

DROP TABLE IF EXISTS {{schema}}.exhaustive_h;
CREATE TABLE {{schema}}.exhaustive_h
AS
SELECT o.model_id, m.model_group_id, m.train_end_time,
       o.list_size, a.past_train_end_time, ma.past_train_end_time as multi_adj_past_train_end_time, o.metric, o.parameter,
       -- unadjusted (base) values
       o.value AS base_value, o.max_recall_ratio AS base_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , o.recall_{{demo1}}_to_{{demo2}} AS base_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , o.frac_{{demo}} AS base_frac_{{demo}}
       , o.min_score_{{demo}} AS base_min_score_{{demo}}
       , o.mean_score_{{demo}} AS base_mean_score_{{demo}}
       , o.precision_{{demo}} AS base_precision_{{demo}}
       , o.prevalence_{{demo}} AS base_prevalence_{{demo}} 
       , o.positive_prevalence_{{demo}} AS base_positive_prevalence_{{demo}} 
       , o.positive_rate_{{demo}} AS base_positive_rate_{{demo}}
       , o.recall_{{demo}} AS base_recall_{{demo}}
         {% endfor %}

       -- adjusted values
       , a.value AS adj_value, a.max_recall_ratio AS adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , a.recall_{{demo1}}_to_{{demo2}} AS adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , a.frac_{{demo}} AS adj_frac_{{demo}}
       , a.min_score_{{demo}} AS adj_min_score_{{demo}}
       , a.mean_score_{{demo}} AS adj_mean_score_{{demo}}
       , a.precision_{{demo}} AS adj_precision_{{demo}}
       , a.prevalence_{{demo}} AS adj_prevalence_{{demo}}
       , a.positive_prevalence_{{demo}} AS adj_positive_prevalence_{{demo}} 
       , a.positive_rate_{{demo}} AS adj_positive_rate_{{demo}}
       , a.recall_{{demo}} AS adj_recall_{{demo}}
         {% endfor %}
         
       -- multi adjusted values
       , ma.value AS multi_adj_value, ma.max_recall_ratio AS multi_adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , ma.recall_{{demo1}}_to_{{demo2}} AS multi_adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , ma.frac_{{demo}} AS multi_adj_frac_{{demo}}
       , ma.min_score_{{demo}} AS multi_adj_min_score_{{demo}}
       , ma.mean_score_{{demo}} AS multi_adj_mean_score_{{demo}}
       , ma.precision_{{demo}} AS multi_adj_precision_{{demo}}
       , ma.prevalence_{{demo}} AS multi_adj_prevalence_{{demo}}
       , ma.positive_prevalence_{{demo}} AS multi_adj_positive_prevalence_{{demo}} 
       , ma.positive_rate_{{demo}} AS multi_adj_positive_rate_{{demo}}
       , ma.recall_{{demo}} AS multi_adj_recall_{{demo}}
         {% endfor %}


       -- diffs
       , a.value - o.value AS value_diff,
       a.max_recall_ratio - o.max_recall_ratio AS recall_ratio_diff
FROM {{schema}}.tmp_bias_mod_overall o
JOIN {{schema}}.pre_exhaustive_h a USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_mod_multi_adjusted ma USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_models m USING(model_id);

DROP TABLE IF EXISTS {{schema}}.exhaustive_i;
CREATE TABLE {{schema}}.exhaustive_i
AS
SELECT o.model_id, m.model_group_id, m.train_end_time,
       o.list_size, a.past_train_end_time, ma.past_train_end_time as multi_adj_past_train_end_time, o.metric, o.parameter,
       -- unadjusted (base) values
       o.value AS base_value, o.max_recall_ratio AS base_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , o.recall_{{demo1}}_to_{{demo2}} AS base_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , o.frac_{{demo}} AS base_frac_{{demo}}
       , o.min_score_{{demo}} AS base_min_score_{{demo}}
       , o.mean_score_{{demo}} AS base_mean_score_{{demo}}
       , o.precision_{{demo}} AS base_precision_{{demo}}
       , o.prevalence_{{demo}} AS base_prevalence_{{demo}} 
       , o.positive_prevalence_{{demo}} AS base_positive_prevalence_{{demo}} 
       , o.positive_rate_{{demo}} AS base_positive_rate_{{demo}}
       , o.recall_{{demo}} AS base_recall_{{demo}}
         {% endfor %}

       -- adjusted values
       , a.value AS adj_value, a.max_recall_ratio AS adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , a.recall_{{demo1}}_to_{{demo2}} AS adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , a.frac_{{demo}} AS adj_frac_{{demo}}
       , a.min_score_{{demo}} AS adj_min_score_{{demo}}
       , a.mean_score_{{demo}} AS adj_mean_score_{{demo}}
       , a.precision_{{demo}} AS adj_precision_{{demo}}
       , a.prevalence_{{demo}} AS adj_prevalence_{{demo}}
       , a.positive_prevalence_{{demo}} AS adj_positive_prevalence_{{demo}} 
       , a.positive_rate_{{demo}} AS adj_positive_rate_{{demo}}
       , a.recall_{{demo}} AS adj_recall_{{demo}}
         {% endfor %}
         
       -- multi adjusted values
       , ma.value AS multi_adj_value, ma.max_recall_ratio AS multi_adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , ma.recall_{{demo1}}_to_{{demo2}} AS multi_adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , ma.frac_{{demo}} AS multi_adj_frac_{{demo}}
       , ma.min_score_{{demo}} AS multi_adj_min_score_{{demo}}
       , ma.mean_score_{{demo}} AS multi_adj_mean_score_{{demo}}
       , ma.precision_{{demo}} AS multi_adj_precision_{{demo}}
       , ma.prevalence_{{demo}} AS multi_adj_prevalence_{{demo}}
       , ma.positive_prevalence_{{demo}} AS multi_adj_positive_prevalence_{{demo}} 
       , ma.positive_rate_{{demo}} AS multi_adj_positive_rate_{{demo}}
       , ma.recall_{{demo}} AS multi_adj_recall_{{demo}}
         {% endfor %}


       -- diffs
       , a.value - o.value AS value_diff,
       a.max_recall_ratio - o.max_recall_ratio AS recall_ratio_diff
FROM {{schema}}.tmp_bias_mod_overall o
JOIN {{schema}}.pre_exhaustive_i a USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_mod_multi_adjusted ma USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_models m USING(model_id);

DROP TABLE IF EXISTS {{schema}}.exhaustive_j;
CREATE TABLE {{schema}}.exhaustive_j
AS
SELECT o.model_id, m.model_group_id, m.train_end_time,
       o.list_size, a.past_train_end_time, ma.past_train_end_time as multi_adj_past_train_end_time, o.metric, o.parameter,
       -- unadjusted (base) values
       o.value AS base_value, o.max_recall_ratio AS base_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , o.recall_{{demo1}}_to_{{demo2}} AS base_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , o.frac_{{demo}} AS base_frac_{{demo}}
       , o.min_score_{{demo}} AS base_min_score_{{demo}}
       , o.mean_score_{{demo}} AS base_mean_score_{{demo}}
       , o.precision_{{demo}} AS base_precision_{{demo}}
       , o.prevalence_{{demo}} AS base_prevalence_{{demo}} 
       , o.positive_prevalence_{{demo}} AS base_positive_prevalence_{{demo}} 
       , o.positive_rate_{{demo}} AS base_positive_rate_{{demo}}
       , o.recall_{{demo}} AS base_recall_{{demo}}
         {% endfor %}

       -- adjusted values
       , a.value AS adj_value, a.max_recall_ratio AS adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , a.recall_{{demo1}}_to_{{demo2}} AS adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , a.frac_{{demo}} AS adj_frac_{{demo}}
       , a.min_score_{{demo}} AS adj_min_score_{{demo}}
       , a.mean_score_{{demo}} AS adj_mean_score_{{demo}}
       , a.precision_{{demo}} AS adj_precision_{{demo}}
       , a.prevalence_{{demo}} AS adj_prevalence_{{demo}}
       , a.positive_prevalence_{{demo}} AS adj_positive_prevalence_{{demo}} 
       , a.positive_rate_{{demo}} AS adj_positive_rate_{{demo}}
       , a.recall_{{demo}} AS adj_recall_{{demo}}
         {% endfor %}
         
       -- multi adjusted values
       , ma.value AS multi_adj_value, ma.max_recall_ratio AS multi_adj_max_recall_ratio
         {% for demo1, demo2 in demo_permutations %}
       , ma.recall_{{demo1}}_to_{{demo2}} AS multi_adj_recall_{{demo1}}_to_{{demo2}}
         {% endfor %}
         {% for demo in demo_values %}
       , ma.frac_{{demo}} AS multi_adj_frac_{{demo}}
       , ma.min_score_{{demo}} AS multi_adj_min_score_{{demo}}
       , ma.mean_score_{{demo}} AS multi_adj_mean_score_{{demo}}
       , ma.precision_{{demo}} AS multi_adj_precision_{{demo}}
       , ma.prevalence_{{demo}} AS multi_adj_prevalence_{{demo}}
       , ma.positive_prevalence_{{demo}} AS multi_adj_positive_prevalence_{{demo}} 
       , ma.positive_rate_{{demo}} AS multi_adj_positive_rate_{{demo}}
       , ma.recall_{{demo}} AS multi_adj_recall_{{demo}}
         {% endfor %}


       -- diffs
       , a.value - o.value AS value_diff,
       a.max_recall_ratio - o.max_recall_ratio AS recall_ratio_diff
FROM {{schema}}.tmp_bias_mod_overall o
JOIN {{schema}}.pre_exhaustive_j a USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_mod_multi_adjusted ma USING(model_id, list_size, metric, parameter)
JOIN {{schema}}.tmp_bias_models m USING(model_id);